[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=peddn
Group=www-data
WorkingDirectory=/home/peddn/projects/fury161/fury161
ExecStart=/home/peddn/projects/fury161/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          fury161.wsgi:application

[Install]
WantedBy=multi-user.target
