[Unit]
Description=gunicorn daemon for project ${project}
Requires=gunicorn_${project}.socket
After=network.target

[Service]
User=${user}
Group=www-data
WorkingDirectory=/home/${user}/${projects_dir}
ExecStart=/home/${user}/projects/${project}/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn_${project}.sock \
          ${project}.wsgi:application

[Install]
WantedBy=multi-user.target

