[Unit]
Description=gunicorn socket for project ${project_name}

[Socket]
ListenStream=/run/gunicorn_${project_name}.sock

[Install]
WantedBy=sockets.target