[Unit]
Description=gunicorn socket for project ${project_wagtail}

[Socket]
ListenStream=/run/gunicorn_${project_wagtail}.sock

[Install]
WantedBy=sockets.target